<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigurationVersion>1</ConfigurationVersion>
  <WheelID>fanatec.formula.apm</WheelID>
  <FullPressThreshold>85</FullPressThreshold>
  <LeftShortKey>i</LeftShortKey>
  <LeftPressKey>k</LeftPressKey>
  <RightShortKey>o</RightShortKey>
  <RightPressKey>l</RightPressKey>
</Configuration>